<!DOCTYPE html>
<html>

<head>
	<title>Yatheesha - iOS/Mac - Learning Swift, Rails</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<header id="main_navigation" class="clearfix">
		<%= link_to "Yatheesha", root_path, class: "name" %>
	<nav>
		<%= link_to "Atricles", posts_path %>
		<a href="#">Projetcs</a>
		<a href="contact.html">Contacts</a>
	</nav>
	</header>

<%= yield %>

	<footer id="main_footer">
		<p class="copyright">&copy;2016 Yatheesha B L</p>
		<nav>
			<a href="http://stackoverflow.com/users/2024072/yatheesha-b-l?tab=profile" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
			<a href="https://github.com/yathishbl60" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>	
			<a href="https://in.linkedin.com/in/yatheesha target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
		</nav>
	</footer>

</body>

</html>
